<h1>Eat The Burger!</h1>

<hr>

<h2>Devoured Burgers:</h2>
<ol class="devoured" id="to-devour">
  {{#each burgers}}
    {{#if devoured}}
      <li>{{ burger_name }}</li>
    {{/if}}
  {{/each}}
</ol>

<hr>

<h2>Burgers To Devour:</h2>
<ol class="to-devour" id="to-devour">
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{ burger_name }}<button class="devour-btn" data-id="{{this.id}}" data-nowdevoured="true">Devour</button></li>
    {{/unless}}
  {{/each}}
</ol>

<hr>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="new-burger" name="burger" placeholder="What type of Burger do you want to eat?">
  </div>
  <br>
  <button id="submit-btn" class="submit-btn" type="submit">Add Your Burger</button>
</form>
