body{
    background-color: gray;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding-bottom: 0;
}

h1{
    text-align: center;
    margin-top: 0;
    color: white;
}

h2{
    text-align: center;
}

hr{
    width: 300px;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 550px;
    height: 80px;
    font-size: x-large;
}

button{
    margin-left: 13px;
}

.submit-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 60px;
}

p{
    text-align: center;
    color: white;
}

ol{
    text-align: center;
    list-style: none;
}

li{
    text-align: center;
}
