body{
    background-color: gray;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding-bottom: 0;
}

h1{
    text-align: center;
    margin-top: 0;
    color: white;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 80px;
    font-size: x-large;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 60px;
}

p{
    text-align: center;
    color: white;
}
